<nav class="navbar navbar-expand-lg navbar-light bg-light" >
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Recipe book</a>
    </div>
    <div class="navbar-expand">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a href="#" [class]="RecipesClass" (click)="onSelect('recipe')">
            Recipes
          </a>
        </li>
        <li class="nav-item">
          <a href="#" [class]="ShoppingClass" (click)="onSelect('shopping-list')">
            Shopping list
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#">
            Management
          </a>
          <div class="dropdown-menu" >
            <a class="dropdown-item" href="#">Save</a>
            <a class="dropdown-item" href="#">Fetch</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

