<form style="margin-top: 40px;" #RecipeForm="ngForm" (ngSubmit)="OnSaveClick(RecipeForm)">
  <div class="form-group">
    <div style="margin: 3px;">
      <h1 *ngIf="editmode">Edit</h1>
      <h1 *ngIf="!editmode">Create</h1>
      <img [src]="RecipeToEdit.ImagePath" [alt]="RecipeToEdit.Name" class="rounded d-block mx-auto"
        style="margin: 3px; max-width: 500px; max-height: 333px;">
      <button type="button" class="btn btn-outline-primary" style="margin: 3px;" (click)="fileInput.click()">
        <span>Upload image</span>
        <input #fileInput type="file" class="form-control-file" accept="image/*" (change)="onFileInput($event)" style="display:none;" />
      </button>
      <div class="progress mb-1">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
          [style]="CurPercentStyle">
        </div>
      </div>
      <input type="text" id="name" placeholder="Name" class="form-control mb-1" name="recipename"
        [ngModel]="RecipeToEdit.Name" required>
      <ckeditor class="mb-1" name="recipedescription" [editor]="HtmlEditor" [ngModel]="RecipeToEdit.Description"
        (ready)="onReady($event)"></ckeditor>
      <h4>List of ingredients</h4>
      <div class="row">
        <div class="col">
          <form (ngSubmit)="ingredientedit ? onEditIngredient(ingrform) : onAddNewIngredient(ingrform)"
            #ingrform="ngForm">
            <div class="row">
              <div class="input-group mt-3">
                <div class="col-sm-9 form-group">
                  <input type="text" id="name" placeholder="Name" class="form-control" ngModel name="ingredientname"
                    required>
                </div>
                <div class="col form-group">
                  <input type="number" id="amount" placeholder="Amount" class="form-control" ngModel
                    name="ingredientamount" required pattern="^[1-9]+[0-9]*$">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <button class="btn btn-outline-primary" type="submit" [disabled]="ingrform.invalid">
                      {{ ingredientedit ? 'Update' : 'Add' }}</button>
                    <button class="btn btn-outline-danger" type="button" (click)="onDeleteSelectedIngredient()"
                      *ngIf="CurrentSelectedItem">Delete</button>
                    <button class="btn btn-outline-secondary" type="button" (click)="onClearAllIngredients()"
                      *ngIf="GetIngredientsLength()!==0">Clear</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <ul class="list-group">
        <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
          [ngClass]="this.CurrentSelectedItem === ingredient ? 'active' : ''" style="cursor: pointer;"
          *ngFor="let ingredient of RecipeToEdit.Ingredients" (click)="OnIngredientSelect(ingredient)">
          {{ingredient.Name}}
          <span class="badge badge-success badge-pill">{{ingredient.Amount}}</span>
        </a>
      </ul>
    </div>
    <button class="btn btn-outline-primary" type="submit" [disabled]="RecipeForm.invalid">Save</button>
    <button class="btn btn-outline-danger" type="button" routerLink=".." style="margin-left: 3px;">Cancel</button>
  </div>
</form>
