<div class="row mt-5">
  <div class="col">
    <img [src]="CurrentRecipe.imagePath" alt="CurrentRecipe.name" class="rounded d-block" style="max-height: 280px">
  </div>
</div>
<div class="row">
  <div class="col">
    <h1>
      {{CurrentRecipe.name}}
    </h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <div ngbDropdown class="btn-group">
      <button class="btn btn-outline-primary dropdown-toggle" ngbDropdownToggle>Manage recipe</button>
      <ul ngbDropdownMenu class="dropdown-menu">
        <li ngbDropdownItem class="dropdown-item" (click)="OnSendToShoppingList()"><a href="#">To shopping list</a></li>
        <li ngbDropdownItem class="dropdown-item"><a href="#">Edit recipe</a></li>
        <li ngbDropdownItem class="dropdown-item"><a href="#">Delete recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    {{CurrentRecipe.description}}
  </div>
</div>
<div class="row">
  <div class="col-6">
    <ul class="list-group">
      <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
        style="cursor: pointer;" *ngFor="let ingredient of CurrentRecipe.ingredients">
        {{ingredient.name}}
        <span class="badge badge-primary badge-pill">{{ingredient.amount}}</span>
      </a>
    </ul>
  </div>
</div>
