.image-placeholder {
  background-color: #eee;
  display: flex;
  max-height: 592px;
  min-height: 185.63px;
  margin: 5px;
  max-width: 100%;
  border-radius: 3px;
}

.image-placeholder > h4 {
  align-self: center;
  text-align: center;
  width: 100%;
}
