input.ng-invalid.ng-touched {
  border-color: rgba(255, 10, 29, 1) !important;
  box-shadow: none !important;
}

input.ng-invalid.ng-touched:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 10, 29, 0.25) !important;
}

input.ng-valid.ng-touched {
  border-color: rgb(103, 192, 123) !important;
  box-shadow: none !important;
}

input.ng-valid.ng-touched:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 179, 13, 0.25) !important;
}

.image-placeholder {
  background-color: #eee;
  display: flex;
  height: 333px;
  margin: 5px;
  border-radius: 3px;
  max-width: 592px;
}

.image-placeholder > h4 {
  align-self: center;
  text-align: center;
  width: 100%;
}
