<div class="list-group-item list-group-item-action mb-1" style="height: 150px; padding: 6px;" [routerLink]="[index]"
  routerLinkActive="active">
  <a style="cursor: pointer">
    <div class="row">
      <div class="col">
        <h4 class="list-group-item-heading">
          {{recipe.Name}}
        </h4>
      </div>
      <div class="col">
        <div *ngIf="!recipe.ImagePath" class="image-placeholder">
          <h4>195x130</h4>
        </div>
        <img *ngIf="recipe.ImagePath" [src]="recipe.ImagePath" [alt]="recipe.Name" class="rounded d-block float-right"
          style="max-height: 130px; max-width: 195px;">
      </div>
    </div>
  </a>
</div>
