<div class="list-group-item list-group-item-action mb-1" style="min-width: 232px;" [routerLink]="[index]"
  routerLinkActive="active">
  <a style="cursor: pointer">
    <div class="row">
      <div class="col">
        <h4 class="list-group-item-heading">
          {{recipe.name}}
        </h4>
      </div>
      <div class="col">
        <img [src]="recipe.imagePath" [alt]="recipe.name" class="rounded d-block float-right"
          style="max-height: 130px; max-width: 195px;">
      </div>
    </div>
  </a>
</div>
