<a style="cursor: pointer">
  <div class="list-group-item list-group-item-action mb-1" style="height: 150px; padding: 6px;" [routerLink]="[index]"
    routerLinkActive="active">
    <div class="row">
      <div style="position: absolute; left: 12px; max-width: 400px;">
        <h4 class="list-group-item-heading">
          {{recipe.Name}}
        </h4>
      </div>
      <div style="position: absolute; right: 7px;">
        <div *ngIf="!recipe.ImagePath" class="image-placeholder">
          <h4>195x130</h4>
        </div>
        <img *ngIf="recipe.ImagePath" [src]="recipe.ImagePath" [alt]="recipe.Name" class="rounded d-block float-right"
          style="height: 130px; width: 195px;">
      </div>
    </div>
  </div>
</a>
