<ngb-alert *ngIf="ShowMessage" [type]="MessageType" (close)="ShowMessage = false">{{ ResponseFromBackend.Error.Message }}</ngb-alert>
<div class="row" *ngIf="!IsLoading">
  <div class="col">
    <div class="input-group mb-1">
      <div class="input-group-prepend mt-1">
        <button class="btn btn-outline-primary" [routerLink]="['/recipes',currentPage,'new']" queryParamsHandling="merge">Add</button>
        <h3 *ngIf="this.SearchRequest" style="margin-left: 40px;">Search results:</h3>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="!IsLoading">
  <div class="col">
    <div class="list-group mb-1">
      <app-recipe-item *ngFor="let recipe of recipes; let i=index" [recipe]="recipe" [index]="i"></app-recipe-item>
      <ngb-pagination
      [collectionSize]="collectionSize"
      [pageSize]="PageSize"
      [page]="currentPage"
      [rotate]="true"
      [boundaryLinks]="true"
      [maxSize]="11"
      (pageChange)="OnPageChanged($event)"></ngb-pagination>
    </div>
  </div>
</div>
<div class="text-center">
  <div class="spinner-border" role="status" *ngIf="IsLoading">
    <span class="sr-only">Loading...</span>
  </div>
</div>

