<div class="row">
  <div class="col">
    <form (ngSubmit)="AddNewItem(f)" #f="ngForm">
      <div class="row">
        <div class="input-group mt-3">
          <div class="col-sm-9 form-group">
            <input type="text" id="name" placeholder="Name" class="form-control"
            name="name" ngModel required>
          </div>
          <div class="col form-group">
            <input type="number" id="amount" placeholder="Amount" class="form-control"
            name="amount" ngModel required pattern="^[1-9]+[0-9]*$">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="input-group">
            <div class="input-group-prepend">
              <button class="btn btn-outline-primary" type="submit" [disabled]="f.invalid">{{ editmode ? 'Update' : 'Add'}}</button>
              <button class="btn btn-outline-danger" type="button" (click)="DeleteSelectedItem()" *ngIf="ShopListServ.CurrentSelectedItem">Delete</button>
              <button class="btn btn-outline-secondary" type="button" (click)="ClearAllItems()" *ngIf="ShopListServ.GetIngredientsLength()!==0">Clear</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
