<div class="text-center">
  <div class="spinner-border" role="status" *ngIf="IsLoading">
    <span class="visually-hidden-focusable">{{ 'Loading'|translate }}</span>
  </div>
</div>
<ngb-alert *ngIf="ShowMessage" [type]="MessageType" (close)="ShowMessage = false">
  {{  ResponseFromBackend.Error.Message | FirstLetterUpperPipe }}</ngb-alert>

<form #UserProfileForm="ngForm" (ngSubmit)="OnSaveClick(UserProfileForm)" *ngIf="UserToEdit">
  <div class="form-group">
    <div style="margin: 3px;">
      <h2>{{ 'Profile'|translate }}</h2>

      <div class="form-group">
        <label for="name">{{ 'Name'|translate }}</label>
        <input type="text" id="name" [placeholder]="'NameExample'|translate" class="form-control mb-1" name="username"
          [ngModel]="UserToEdit.Name" required>
      </div>

      <div class="form-group">
        <label for="email">{{ 'Email'|translate }}</label>
        <input type="email" id="email" placeholder="exampe@example.com" class="form-control mb-1" name="useremail"
          [ngModel]="UserToEdit.Email" required email>
      </div>

      <div class="form-group">
        <label for="phone">{{ 'Phone'|translate }}</label>
        <input type="tel" id="phone" placeholder="+7 (965) 777-77-77" class="form-control mb-1" name="userphone"
          [ngModel]="UserToEdit.Phone" pattern="^((8|\+7)[\- ]?)?(\(?\d{3,4}\)?[\- ]?)?[\d\- ]{5,10}$">
      </div>

      <div class="form-group">
        <label for="lang">{{ 'Language'|translate }}</label>
        <select id="lang" class="form-select mb-1" name="userlanguage" #selectedLang (change)="SwitchLanguage(selectedLang.value)" 
        [ngbTooltip]="'LangSelector'|translate" [ngModel]="UserToEdit.Lang" required>        
          <option *ngFor="let language of translate.getLangs()" [value]="language"
            [selected]="language === translate.currentLang">
            {{ language }}
          </option>
        </select>  
      </div>      
      
      <label for="newpassword">{{ 'Password'|translate }}</label>

      <div class="input-group mb-3">
        <div class="input-group-text">
          <input class="form-check-input mt-0" type="checkbox" id="changepassword" name="changepassword"
            [(ngModel)]="changepassword">
        </div>
        <input type="password" class="form-control" id="newpassword" name="newpassword" [placeholder]="'EnterNewPassword'|translate"
          [disabled]="!changepassword" ngModel>
      </div>

      <button class="btn btn-outline-primary" type="submit" [disabled]="UserProfileForm.invalid">{{ 'Save'|translate }}</button>
      <button class="btn btn-outline-danger" type="button" routerLink=".." style="margin-left: 3px;">{{ 'Cancel'|translate }}</button>

    </div>
  </div>
</form>

<div class="form-group" *ngIf="UserToEdit && TwoFactorEnabled">
  <h2>{{ 'SecondFactorEnabled'|translate }}</h2>
  <button class="btn btn-outline-danger" type="button" (click)="OnUnlinkTwoFactor()">{{ 'Disable'|translate }}</button>
</div>

<form #UserTwoFactorForm="ngForm" (ngSubmit)="OnLinkTwoFactor(UserTwoFactorForm)"
  *ngIf="UserToEdit && !TwoFactorEnabled">
  <div class="form-group">
    <div style="margin: 3px;">
      <h2>{{ 'SetSecondFactor'|translate }}</h2>

      <h4>1. {{ 'ScanWith'|translate }} <a [href]="AuthUrl">Authenticator</a>:
      </h4>

      <img [src]="QrUrl | secureImagePipe | async" [alt]="'QrCode'|translate">

      <h4>2. {{ 'EnterToken'|translate }}</h4>
      <label for="newpassword">{{ 'Token'|translate }}</label>
      <div class="input-group mb-3">

        <div class="input-group-text">
          <input type="checkbox" id="enabletwofactor" name="enabletwofactor" [(ngModel)]="SetTwoFactor" required>
        </div>

        <input type="text" name="passkey" inputmode="numeric" pattern="[0-9]*" autocomplete="one-time-code"
          class="form-control" id="newpasskey" [placeholder]="'TokenFromApp'|translate" [disabled]="!SetTwoFactor" ngModel
          required minlength='6' [ngbTooltip]="'MinSixChars'|translate">
      </div>

      <button class="btn btn-outline-primary" type="submit">{{ 'Save'|translate }}</button>
    </div>
  </div>
</form>